@charset "UTF-8";

body {
	background-color: #d9d9d9;
}

section {
	background-color: white;
	padding: 40px 150px;
	width: 900px;
	height: 400px;
	margin: 50px auto;
}

.btn {
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	display: inline-block;
}

.blue {
	color: white;
	background: #619eff;
	float: right;
	margin-left: 20px;
}

div.question {
	margin: 25px 0px;
	height: 50px;
	line-height: 30px;
}

div.back {
	border: 0.3px solid black;
}

div.buttons {
	margin-top: 50px;
}

form {
	width: 450px;
	margin: 0px auto;
}